extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slider
		.container
			.row
				.col
					h1 Hi there! We are the new kid on the block and we build awesome website and mobile apps.
					p
						a.btn.btn-primary.btn-1(href="#") WORK WITH US
	section.home-service
		.container
			.row.home-service-title
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row.home-service-items
				.col-sm-6.col-lg-3
					img(src="./img/home_icon_1.png")
					h3 BRANDING
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-6.col-lg-3
					img(src="./img/home_icon_2.png")
					h3 BRANDING
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-6.col-lg-3
					img(src="./img/home_icon_3.png")
					h3 BRANDING
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-6.col-lg-3
					img(src="./img/home_icon_4.png")
					h3 BRANDING
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
	section.home-team
		.container
			.row.mt-5.home-team-title
				.col
					h2 MEET OUT BEATIFUL TEAM
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row.mt-5.home-team-item
				.col-sm-6.col-lg-3.img-fluid
					img(src="./img/home_user.png")
					h3 ANNE HATHAWAY
					p.user CEO / Marketing Guru
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					ul.list-inline
						li.list-inline-item
							a
								i.fa.fa-facebook
						li.list-inline-item
							a
								i.fa.fa-twitter
						li.list-inline-item
							a
								i.fa.fa-linkedin
						li.list-inline-item
							a
								i.fa.fa-envelope-o
				.col-sm-6.col-lg-3.img-fluid
					img(src="./img/home_user.png")
					h3 KATE UPTON
					p.user Creative Director
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					ul.list-inline
						li.list-inline-item
							a
								i.fa.fa-facebook
						li.list-inline-item
							a
								i.fa.fa-twitter
						li.list-inline-item
							a
								i.fa.fa-linkedin
						li.list-inline-item
							a
								i.fa.fa-envelope-o
				.col-sm-6.col-lg-3.img-fluid
					img(src="./img/home_user.png")
					h3 OLIVIA WILDE
					p.user Lead Designer
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					ul.list-inline
						li.list-inline-item
							a
								i.fa.fa-facebook
						li.list-inline-item
							a
								i.fa.fa-twitter
						li.list-inline-item
							a
								i.fa.fa-linkedin
						li.list-inline-item
							a
								i.fa.fa-envelope-o
				.col-sm-6.col-lg-3.img-fluid
					img(src="./img/home_user.png")
					h3 ASHLEY GREENE
					p.user SEO / Developer
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					ul.list-inline
						li.list-inline-item
							a
								i.fa.fa-facebook
						li.list-inline-item
							a
								i.fa.fa-twitter
						li.list-inline-item
							a
								i.fa.fa-linkedin
						li.list-inline-item
							a
								i.fa.fa-envelope-o
